<a href="https://colab.research.google.com/github/Bitirna/reimagined-doodle/blob/main/Assignment_3(Hypothesis_Testing)_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

As the data set has 4 quatities to perform hypothesis testing so we will perform ANOVA F test here.

Assume null hypothesis as Ho : All samples same mean
and Alternate hypothesis as Ha : Atleast one sample TAT population mean is different.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
# Loading the dataset
data = pd.read_csv("/content/LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [ ]:
# Preparing data
lab1 = data.iloc[:,0]
lab2 = data.iloc[:,1]
lab3 = data.iloc[:,2]
lab4 = data.iloc[:,3]

In [ ]:
# Calculation of P_value
p_value=stats.f_oneway(lab1,lab2,lab3,lab4)
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
p_value[1]

2.1156708949992414e-57

In [ ]:
# compare p_value with Î± = 0.05 (At 5% significance level)

Here P_value = 2.11 and alpha value = 0.05

Comparing p value and alpha value we find p_value > alpha value

Hence we accept Ho and reject Ha

**Thus the Null hypothesis is accepted and it says that All sample TAT population mean is same.**