<a href="https://colab.research.google.com/github/Bitirna/reimagined-doodle/blob/main/Assignment_3(Hypotesis_Testing)_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For the given problem we perform a Chi square test to test the independence of the relationship

In [1]:
import pandas as pd
import numpy as np
from scipy import stats as stats
from scipy.stats import chi2

In [2]:
# Loading the data set
data = pd.read_csv("/content/BuyerRatio.csv")
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [3]:
# Preparing dataset
data_table=data.iloc[:,1:6]
data_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [4]:
data_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [6]:
# Calculation of expected frequency
val=stats.chi2_contingency(data_table)
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [7]:
# Calculation of degree of freedom
no_of_rows=len(data_table.iloc[0:2,0])
no_of_columns=len(data_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [8]:
# Calculation of Chi square test statistics
chi_square=sum([(o-e)**2/e for o,e in zip(data_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [9]:
# Calculation of critical value
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [10]:
# Calculation of p_value
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [13]:
# Checking test statistics or test of independence using critical value

if chi_square_statestic >= critical_value:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [12]:
# Checking test statistics or test of independence using p_value

if pvalue <= 0.05:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [14]:
# Hence the Null hypothesis is rejected then alternate hypothesis is accepted i.e Not all proportions is equal