<a href="https://colab.research.google.com/github/Bitirna/reimagined-doodle/blob/main/statistics_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
avg_weight_ci = stats.norm.interval(0.94, loc = 200, scale = 30)
print("Average weight of male in mexico at 94% CI is ",np.round(avg_weight_ci,4))

Average weight of male in mexico at 94% CI is  [143.5762 256.4238]

In [ ]:
avg_weight_ci = stats.norm.interval(0.98, loc = 200, scale = 30)
print("Average weight of male in mexico at 98% CI is ",np.round(avg_weight_ci,4))

Average weight of male in mexico at 98% CI is  [130.2096 269.7904]

In [ ]:
avg_weight_ci = stats.norm.interval(0.96, loc = 200, scale = 30)
print("Average weight of male in mexico at 96% CI is ",np.round(avg_weight_ci,4))

Average weight of male in mexico at 96% CI is  [138.3875 261.6125]

In [4]:
t_value = (260 - 270)/(90/np.sqrt(18))
print('critical value = ', np.round(t_value, 2))
print('probabilty for average life of no more than 260 days is', np.round(stats.t.cdf(t_value, df=17), 2))

critical value =  -0.47
probabilty for average life of no more than 260 days is 0.32

In [11]:
t_value = (260 - 270)/(90/np.sqrt(18))
np.round(t_value,2)
print("probability that the average life is 260 days is ", np.round(stats.t.cdf(t_value, df = 17),2))

probability that the average life is 260 days is  0.32

In [16]:
print('Tscore at 95% confidence interval is ', np.round(stats.t.ppf(0.025, df = 24), 2))

Tscore at 95% confidence interval is  -2.06

In [19]:
print('Tscore at 96% confidence interval is ', np.round(stats.t.ppf(0.02, df = 24), 2))

Tscore at 96% confidence interval is  -2.17

In [23]:
print('Tscore at 99% confidence interval is ', np.round(stats.t.ppf(0.005, df = 24), 2))

Tscore at 99% confidence interval is  -2.8

In [24]:
print('Zscore at 90% confidence interval is ', np.round(stats.norm.ppf(0.05), 2))

Zscore at 90% confidence interval is  -1.64

In [26]:
print('Zscore at 94% confidence interval is ', np.round(stats.norm.ppf(0.03), 2))

Zscore at 94% confidence interval is  -1.88

In [32]:
print('Zscore at 60% confidence interval is ', np.round(stats.norm.ppf(0.20), 2))

Zscore at 60% confidence interval is  -0.84

In [ ]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [ ]:
mtcars.shape

(32, 11)

In [ ]:
mtcars.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [ ]:
pd.crosstab(mtcars.gear,mtcars.cyl)

cyl   4  6   8
gear
3     1  2  12
4     8  4   0
5     2  1   2

In [ ]:
pd.crosstab(mtcars.gear,mtcars.cy1)

AttributeError: ignored

In [ ]:
from scipy import stats

In [ ]:
stats.norm.cdf(x=680,loc=711,scale=29)

0.14254260383881612

In [ ]:
stats.norm.cdf(x=720,loc=711,scale=29)

0.621850627348053

In [ ]:
stats.norm.cdf(x=740,loc=711,scale=29)

0.8413447460685429

In [ ]:
stats.norm.cdf(x=680,loc=711,scale=29)

0.14254260383881612

In [ ]:
import math
 
def factorial(n):
    return(math.factorial(n))
 
 
# Driver Code
num = 7
print("Factorial of", num, "is",
      factorial(num))

Factorial of 7 is 5040

In [ ]:
import math
 
def factorial(n):
    return(math.factorial(n))
 
 
# Driver Code
num = 3
print("Factorial of", num, "is",
      factorial(num))

Factorial of 3 is 6

In [ ]:
2*120

240

In [ ]:
5040/240

21.0

In [ ]:
120/12

10.0